  <!-- You can only get to this page if you are logged in, per the route -->
  <form action='/tweets' method="post">
    <h3>Create Your Tweet:</h3>
    <input type="text" name="content"><br />
    <input type="submit" name="submit">
  </form>